<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Grade_Registration.Properties.Settings.stdnt_regConnectionString"
            connectionString="Data Source=LAPTOP-83KELKNK;Initial Catalog=stdnt_reg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>